@font-face {
  font-family: "iconfont"; /* Project id 3469884 */
  src: url('iconfont.woff2?t=1655369018030') format('woff2'),
       url('iconfont.woff?t=1655369018030') format('woff'),
       url('iconfont.ttf?t=1655369018030') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-jiantou_xiangzuo:before {
  content: "\eb09";
}

.icon-jiantou_xiangxia:before {
  content: "\eb0a";
}

.icon-jiantou_xiangshang:before {
  content: "\eb0b";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-shouji:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-31dianpu:before {
  content: "\e603";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-dianpu:before {
  content: "\e64a";
}

.icon-wodezuji:before {
  content: "\e614";
}

