@charset "UTF-8";
body {
  overflow-x: hidden;
  background: 0 0 repeat-y url(../img/10027.png);
  background-size: cover;
}
.container {
  width: 100%;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
/* ---site-nav--- */
#site-nav {
  background-color: #f2f2f2;
}
#site-nav .sn-container {
  width: 990px;
  height: 26px;
  margin: auto;
  font-size: 12px;
  color: #999;
  line-height: 26px;
}
#site-nav .sn-container p:nth-child(1) {
  padding-right: 20px;
}
#site-nav .sn-container p:nth-child(2) > a {
  padding: 0 10px 0 20px;
}
#site-nav .sn-container a {
  color: #999;
}
#site-nav .sn-container a:hover {
  color: red;
  text-decoration-line: underline;
}
#site-nav .sn-container .iconfont {
  color: red;
}
#site-nav .sn-container ul > li {
  position: relative;
  float: left;
  padding: 0 10px;
}
#site-nav .sn-container ul > li .mytaobao {
  display: inline-block;
  width: 10px;
  height: 100%;
}
#site-nav .sn-container ul > li:hover .mytaobao-grade2 {
  display: block;
}
#site-nav .sn-container ul > li:hover .mytaobao {
  transform: rotate(180deg);
}
#site-nav .sn-container ul > li:hover .mytaobao-grade2-support {
  display: block;
}
#site-nav .sn-container ul > li .mytaobao-grade2 {
  position: absolute;
  width: 100px;
  height: 60px;
  top: 26px;
  left: 0px;
  padding-left: 10px;
  background-color: #fff;
  display: none;
}
#site-nav .sn-container ul > li .mytaobao-grade2-support {
  position: absolute;
  width: 150px;
  top: 26px;
  left: 0px;
  padding-left: 10px;
  background-color: #fff;
  z-index: 9999;
  display: none;
}
#site-nav .sn-container ul > li .mytaobao-grade2-support > a {
  padding: 0 10px;
}
#site-nav .sn-container .change-bgcolor:hover {
  background-color: #fff;
}
#top-banner {
  margin: 0 auto;
  height: 129px;
  background-color: #f74542;
}
#top-banner .top-banner-inner {
  height: 129px;
  padding-top: 20px;
}
#top-banner img {
  width: 236px;
  height: 88px;
  border-radius: 10px 10px 10px 10px;
}
.main-body {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  position: relative;
  padding: 0 20px;
  margin-bottom: 80px;
}
.main-body .gbpicture1 {
  position: absolute;
  left: -360px;
  top: 0;
}
.main-body .gbpicture2 {
  position: absolute;
  right: -360px;
  top: 0;
}
.w-search {
  height: 110px;
  padding: 30px 0 0 80px;
}
.w-search .left-tm img {
  width: 87px;
  height: 53px;
}
.w-search .search-input {
  margin-left: 80px;
  height: 50px;
  border: 1px solid red;
  border-radius: 25px 25px 25px 25px;
}
.w-search .search-input .search-input-left {
  width: 600px;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 50px 0px 0px 50px;
  padding-left: 20px;
}
.w-search .search-input .search-input-right {
  width: 90px;
  height: 100%;
  background-color: #fe0137;
  font-size: 18px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
}
.mainnav {
  height: 55px;
}
.mainnav h2 {
  margin: 15px 0 0 18px;
  font-size: 16px;
  color: #fe0137;
  float: left;
  display: block;
  margin-right: 170px;
}
.mainnav img {
  width: 100px;
  height: 30px;
  margin: 10px 10px 0px 10px;
  float: left;
}
.mainnav .mainnav-list {
  line-height: 50px;
}
.mainnav .mainnav-list li {
  float: left;
  padding: 0 5px;
}
.mainnav .mainnav-list li a {
  color: #000;
  font-size: 14px;
}
.mainnav .mainnav-list li a:hover {
  color: red;
  text-decoration: underline blue;
}
